@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/vt323/v12/pxiKyp0ihIEF2isfFJA.ttf) format('truetype');
  }
  * {
    box-sizing: border-box;
  }
  body {
    background: #383838; 
  }

  h1 {
    font-size: 3em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 2em;
  }
  .output {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #031e11;
    overflow: scroll;
    position: absolute;
    padding: 2em 2em;
    pointer-events: auto;
    text-shadow: 0em 0.2em 1em #0c7b46;
    z-index: -1;
  }
  .screen {
    color: #14fdce;
    font-family: 'VT323';
    font-size: 1.5em;
    -webkit-font-smoothing: none;
    line-height: 1.2em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.6));
    background-size: 100% 0.2em;
    border-radius: 1em;
    border: 1em solid;
    border-bottom-color: #121212;
    border-left-color: #080808;
    border-right-color: #080808;
    border-top-color: #020202;
    box-shadow: inset 0 0 18em black,
      inset 0 0 3em black,
      0 0 10em black;
    height: 96%;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    pointer-events: none;
  }
  ::-moz-selection {
    background-color: #14fdce;
    color: #031e11;
  }
  ::selection {
    background-color: #14fdce;
    color: #031e11;
  }